# 1) A) Loading Data for Zip codes in Bournemouth

In [119]:
import pandas as pd
import requests

In [120]:
!wget -O 'temp.zip' https://www.getthedata.com/downloads/open_postcode_geo.csv.zip

--2020-07-19 17:55:50--  https://www.getthedata.com/downloads/open_postcode_geo.csv.zip
Resolving www.getthedata.com (www.getthedata.com)... 95.154.195.188
Connecting to www.getthedata.com (www.getthedata.com)|95.154.195.188|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64607200 (62M) [application/zip]
Saving to: ‘temp.zip’

100%[======================================>] 64,607,200   108MB/s   in 0.6s

2020-07-19 17:55:51 (108 MB/s) - ‘temp.zip’ saved [64607200/64607200]

In [121]:
!unzip -f temp.zip
!rm temp.zip

Archive:  temp.zip

In [122]:
#import os
#for subdir, dirs, files in os.walk('./'):
#    for file in files:
#      print(file)

In [123]:
df1_zip = pd.read_csv('open_postcode_geo.csv', names=["postcode","status","usertype","easting","northing","positional_quality_indicator","country","latitude","longitude","postcode_no_space","postcode_fixed_width_seven","postcode_fixed_width_eight","postcode_area","postcode_district","postcode_sector","outcode","incode"])
#df1_zip.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3,4,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [124]:
df_bournemouth_active = df1_zip.loc[(df1_zip['status'] == 'live') & (df1_zip['country'] == 'England') & (df1_zip['postcode_area']=='BH')]
#[[df1_zip['status'] == 'live'] && [df1_zip['country'] == 'England']

In [125]:
df_bournemouth_active.head()

,postcode,status,usertype,easting,northing,positional_quality_indicator,country,latitude,longitude,postcode_no_space,postcode_fixed_width_seven,postcode_fixed_width_eight,postcode_area,postcode_district,postcode_sector,outcode,incode
173266,BH1 1AA,live,large,409722,92041,1,England,50.727909,-1.863623,BH11AA,BH1 1AA,BH1 1AA,BH,BH1,BH1 1,BH1,1AA
173268,BH1 1AF,live,small,409181,91523,1,England,50.723260,-1.871300,BH11AF,BH1 1AF,BH1 1AF,BH,BH1,BH1 1,BH1,1AF
173270,BH1 1AH,live,small,409265,91464,1,England,50.722728,-1.870112,BH11AH,BH1 1AH,BH1 1AH,BH,BH1,BH1 1,BH1,1AH
173271,BH1 1AJ,live,small,409162,92265,1,England,50.729932,-1.871551,BH11AJ,BH1 1AJ,BH1 1AJ,BH,BH1,BH1 1,BH1,1AJ
173272,BH1 1AL,live,small,409284,91366,1,England,50.721846,-1.869845,BH11AL,BH1 1AL,BH1 1AL,BH,BH1,BH1 1,BH1,1AL

In [126]:
#df_bournemouth_active.sort_values(by='outcode').groupby('outcode')['postcode'].count().plot(kind='bar', figsize =(10,10))
df_bournemouth_active[["latitude", "longitude"]] = df_bournemouth_active[["latitude", "longitude"]].apply(pd.to_numeric)

df_bournemouth_active.dtypes

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

postcode                         object
status                           object
usertype                         object
easting                          object
northing                         object
positional_quality_indicator      int64
country                          object
latitude                        float64
longitude                       float64
postcode_no_space                object
postcode_fixed_width_seven       object
postcode_fixed_width_eight       object
postcode_area                    object
postcode_district                object
postcode_sector                  object
outcode                          object
incode                           object
dtype: object

In [146]:
df_zip_group = df_bournemouth_active.groupby('outcode')['latitude','longitude'].mean()

In [147]:
df_zip_group.reset_index(inplace=True)

#df_zip_group

   outcode   latitude  longitude
0      BH1  50.724864  -1.860988
1     BH10  50.759580  -1.892961
2     BH11  50.762143  -1.919640
3     BH12  50.737363  -1.927771
4     BH13  50.708815  -1.920506
5     BH14  50.721349  -1.944453
6     BH15  50.722376  -1.984975
7     BH16  50.740211  -2.047840
8     BH17  50.746884  -1.980080
9     BH18  50.759552  -1.998470
10    BH19  50.611670  -1.970711
11     BH2  50.721072  -1.884056
12    BH20  50.687002  -2.148341
13    BH21  50.812856  -1.974672
14    BH22  50.805327  -1.888596
15    BH23  50.747471  -1.754571
16    BH24  50.843272  -1.788325
17    BH25  50.752814  -1.657952
18     BH3  50.736581  -1.883354
19    BH31  50.875970  -1.872621
20     BH4  50.721266  -1.899715
21     BH5  50.725312  -1.832305
22     BH6  50.727644  -1.801927
23     BH7  50.736343  -1.826573
24     BH8  50.742079  -1.851884
25     BH9  50.749616  -1.872753

In [148]:
df_zip_group.columns = ['Postal Code','Latitude', 'Longitude']

In [149]:
df_zip_group['House Price'] = 0.0
df_zip_group.head(5)

  Postal Code   Latitude  Longitude  House Price
0         BH1  50.724864  -1.860988          0.0
1        BH10  50.759580  -1.892961          0.0
2        BH11  50.762143  -1.919640          0.0
3        BH12  50.737363  -1.927771          0.0
4        BH13  50.708815  -1.920506          0.0

In [150]:
for ind in df_zip_group.index:
    #print(df_zip_group['latitude'][outcode])
    df_prices = pd.read_html('https://www.streetlist.co.uk/bh/'+df_zip_group['Postal Code'][ind])
    df_prices = df_prices[0]
    #print(df_prices['Type of Property'])
    print(' '+str(df_prices['Type of Property'][0]) +' '+ str(df_prices['2018 Average'][0]))
    df_zip_group['House Price'][ind] = df_prices['2018 Average'][0]

 Detached £473,737

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 Detached £319,981
 Detached £314,385
 Detached £312,703
 Detached £1,612,349
 Detached £712,123
 Detached £363,262
 Detached £388,158
 Detached £332,855
 Detached £485,518
 Detached £544,777
 Detached £594,750
 Detached £441,536
 Detached £490,747
 Detached £467,071
 Detached £493,049
 Detached £545,088
 Detached £473,508
 Detached £718,151
 Detached £411,698
 Detached £714,105
 Detached £556,806
 Detached £493,807
 Detached £437,582
 Detached £421,272
 Detached £351,483

In [151]:
df_zip_group.head()

df_final = df_zip_group


#print('Before dropping Boroughs ='.join(df.shape))
#df_wikipedia= df[df['Borough'] != 'Not assigned'].reset_index(drop= True)

#there are no Postal codes repeated so we dont need to concatinate the Neighbourhoods.

#df_wikipedia.shape

df_final

   Postal Code   Latitude  Longitude House Price
0          BH1  50.724864  -1.860988    £473,737
1         BH10  50.759580  -1.892961    £319,981
2         BH11  50.762143  -1.919640    £314,385
3         BH12  50.737363  -1.927771    £312,703
4         BH13  50.708815  -1.920506  £1,612,349
5         BH14  50.721349  -1.944453    £712,123
6         BH15  50.722376  -1.984975    £363,262
7         BH16  50.740211  -2.047840    £388,158
8         BH17  50.746884  -1.980080    £332,855
9         BH18  50.759552  -1.998470    £485,518
10        BH19  50.611670  -1.970711    £544,777
11         BH2  50.721072  -1.884056    £594,750
12        BH20  50.687002  -2.148341    £441,536
13        BH21  50.812856  -1.974672    £490,747
14        BH22  50.805327  -1.888596    £467,071
15        BH23  50.747471  -1.754571    £493,049
16        BH24  50.843272  -1.788325    £545,088
17        BH25  50.752814  -1.657952    £473,508
18         BH3  50.736581  -1.883354    £718,151
19        BH31  50.875970  -1.872621    £411,698
20         BH4  50.721266  -1.899715    £714,105
21         BH5  50.725312  -1.832305    £556,806
22         BH6  50.727644  -1.801927    £493,807
23         BH7  50.736343  -1.826573    £437,582
24         BH8  50.742079  -1.851884    £421,272
25         BH9  50.749616  -1.872753    £351,483

In [152]:
import requests
from pandas.io.json import json_normalize


fourSqAPIURL = "https://api.foursquare.com/v2/venues/explore"
CLIENT_ID ="NINRXL4F12KA0T5Y40SQD1CGLLM2FK1XGE1YZBYMVQINX45V"
CLIENT_SECRET= "4NSTMXF2D5VWNSAMNRUMP3RC1W4NHOLDSVOLK3UX1BXBAZD5"

In [153]:
def fetch_venue_Details(postalcode,latitude,longitude,v_list):
    new_venue = {'Postal Code':postalcode,'Latitude':latitude, 'Longitude':longitude,'Type':[],'Name':[]}

    new_venue["Name"] = v_list["venue"]["name"]
    new_venue["Type"] = v_list["venue"]["categories"][0]['pluralName']
    

    new_venues = pd.DataFrame(new_venue, index =[0])
    
  
   # new_venues = new_venues.append(new_venue,ignore_index=True)
    #print('after--- '+ str(new_venues))
    return new_venues

In [156]:
all_venues= pd.DataFrame()


for ind in df_final.index:

   
    lat = str(df_final['Latitude'][ind])
    lng = str(df_final['Longitude'][ind])

    #print(str("\n"+ df_final['outcode'][ind])+ "+++++++++++"+ str(ind)+"\n")
 
    payload = {'client_id': CLIENT_ID, 'client_secret': CLIENT_SECRET, 'll': lat+','+lng , 'radius':1500, 'v':'20180323'}

    resp = requests.get(fourSqAPIURL,params=payload)

    data = resp.json()
    
    #print(data)
    try:
        for items in data["response"]["groups"][0]["items"]:
           
            all_venues = all_venues.append(fetch_venue_Details(df_final['Postal Code'][ind],lat,lng,items))
            print('reached')
            all_venues.head()
    except:
        print(str(df_final['outcode'][ind])+ "-----EMPTY------------")
        empty_venue = {'Postal Code':df_final['Postal Code'][ind],'Latitude':lat, 'Longitude':lng,'Type':[],'Name':[]}
        all_venues.append(pd.DataFrame(empty_venue))

reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached
reached

In [157]:
all_venues = all_venues.reset_index(drop=True)


all_venues.head()

,Postal Code,Latitude,Longitude,Type,Name
0,BH1,50.724864264209,-1.8609877127496226,Pizza Places,Bournemouth Pizza Co.
1,BH1,50.724864264209,-1.8609877127496226,Italian Restaurants,La Piccola Italia
2,BH1,50.724864264209,-1.8609877127496226,Beaches,Bournemouth Beach (Toft Zig Zag)
3,BH1,50.724864264209,-1.8609877127496226,Indian Restaurants,Spice of Lahore
4,BH1,50.724864264209,-1.8609877127496226,Pubs,Inferno

In [158]:
neighbourhood_analysis = pd.get_dummies(all_venues,prefix='',prefix_sep='',columns=['Type'])

In [159]:
mean_data = neighbourhood_analysis.set_index(['Postal Code'])
mean_data = mean_data.groupby(level='Postal Code').mean()

In [160]:
mean_data.head()

,American Restaurants,Art Museums,Arts & Crafts Stores,Athletics & Sports,Bakeries,Bars,Beaches,Bed & Breakfasts,Beer Bars,Bistros,...,Toy / Game Stores,Trails,Train Stations,Turkish Restaurants,Vegetarian / Vegan Restaurants,Video Game Stores,Warehouse Stores,Wine Bars,Women's Stores,Zoos
Postal Code,,,,,,,,,,,,,,,,,,,,,
BH1,0.0,0.033333,0.0,0.0,0.0,0.0,0.100000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.033333,0.0,0.0,0.0,0.0,0.0,0.0
BH10,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
BH11,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
BH12,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.047619,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
BH13,0.0,0.000000,0.0,0.0,0.0,0.0,0.214286,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

# For Segmenting we will segment into 4 distinct clusters

In [161]:
from sklearn.cluster import KMeans

#clusters
k=4

kmean = KMeans(n_clusters = k, random_state = 0, max_iter =500).fit(mean_data.to_numpy())
kmean.labels_

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 3, 2, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0], dtype=int32)

In [162]:
mean_data['Segment'] = kmean.labels_
data_analysis = mean_data.groupby('Segment').mean()

data_analysis

,American Restaurants,Art Museums,Arts & Crafts Stores,Athletics & Sports,Bakeries,Bars,Beaches,Bed & Breakfasts,Beer Bars,Bistros,...,Toy / Game Stores,Trails,Train Stations,Turkish Restaurants,Vegetarian / Vegan Restaurants,Video Game Stores,Warehouse Stores,Wine Bars,Women's Stores,Zoos
Segment,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.005000,0.008333,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.013095,0.000000,0.000000,0.000000,0.005,0.000000,0.000000,0.000000
1,0.004762,0.002381,0.002381,0.002381,0.009524,0.038462,0.03733,0.002976,0.007143,0.002976,...,0.002976,0.002747,0.002976,0.014286,0.004762,0.009524,0.000,0.002747,0.002381,0.002747
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000

In [165]:
cols = list(data_analysis.columns)
indices = list(data_analysis.index)


for ind in indices:
    print ('\n\n----------------------------SEGMENT =' + str(ind+1)+'-------------------------------------------------------------------------------------------------------')
    for col in cols:
        if(data_analysis[col][ind]>0.03):
            print(str(col)+'='+str(data_analysis[col][ind]))

----------------------------SEGMENT =1-------------------------------------------------------------------------------------------------------
Coffee Shops=0.048888888888888885
Fast Food Restaurants=0.04955128205128205
Grocery Stores=0.16890262515262514
Pharmacies=0.04029761904761904
Pizza Places=0.0448015873015873
Pubs=0.07914072039072038
Supermarkets=0.11770604395604396


----------------------------SEGMENT =2-------------------------------------------------------------------------------------------------------
Bars=0.03846153846153846
Beaches=0.03732993197278912
Cafés=0.059379905808477226
Coffee Shops=0.10810439560439562
Parks=0.047619047619047616
Pubs=0.09063317634746207
Supermarkets=0.03205128205128205


----------------------------SEGMENT =3-------------------------------------------------------------------------------------------------------
Construction & Landscaping=0.25
Gas Stations=0.25
Grocery Stores=0.25
Thrift / Vintage Stores=0.25


----------------------------SEGMENT =4-------------------------------------------------------------------------------------------------------
Event Services=0.5
Rental Services=0.5

In [163]:
df_merged = pd.merge(df_final,mean_data['Segment'], how='left', on='Postal Code')
df_merged.groupby('Segment').count()['Postal Code']
df_merged

   Postal Code   Latitude  Longitude House Price  Segment
0          BH1  50.724864  -1.860988    £473,737        1
1         BH10  50.759580  -1.892961    £319,981        0
2         BH11  50.762143  -1.919640    £314,385        0
3         BH12  50.737363  -1.927771    £312,703        0
4         BH13  50.708815  -1.920506  £1,612,349        1
5         BH14  50.721349  -1.944453    £712,123        1
6         BH15  50.722376  -1.984975    £363,262        1
7         BH16  50.740211  -2.047840    £388,158        1
8         BH17  50.746884  -1.980080    £332,855        0
9         BH18  50.759552  -1.998470    £485,518        0
10        BH19  50.611670  -1.970711    £544,777        1
11         BH2  50.721072  -1.884056    £594,750        1
12        BH20  50.687002  -2.148341    £441,536        3
13        BH21  50.812856  -1.974672    £490,747        2
14        BH22  50.805327  -1.888596    £467,071        0
15        BH23  50.747471  -1.754571    £493,049        0
16        BH24  50.843272  -1.788325    £545,088        1
17        BH25  50.752814  -1.657952    £473,508        0
18         BH3  50.736581  -1.883354    £718,151        1
19        BH31  50.875970  -1.872621    £411,698        0
20         BH4  50.721266  -1.899715    £714,105        1
21         BH5  50.725312  -1.832305    £556,806        1
22         BH6  50.727644  -1.801927    £493,807        1
23         BH7  50.736343  -1.826573    £437,582        1
24         BH8  50.742079  -1.851884    £421,272        1
25         BH9  50.749616  -1.872753    £351,483        0

In [166]:
import folium
 

m = folium.Map(location=[50.720806,-1.904755],zoom_start=12)

for ind in df_merged.index:

    div = folium.DivIcon(html=(
        '<svg height="50" width="50">'
        '<circle cx="15" cy="15" r="10" stroke="yellow" stroke-width="3" fill="yellow" />'
        '<text x="10" y="20" fill="black">'+str(df_merged['Segment'][ind]+1)+ '</text>'
        '</svg>'
    ))
    folium.Marker((df_merged['Latitude'][ind],df_merged['Longitude'][ind]), icon=div).add_to(m)

m

ModuleNotFoundError: No module named 'folium'